:root {
  --ff-base: "Open Sans", Helvetics, Arial;

  --fs-300: 0.75rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 1.25rem;
  --fs-800: 1.5625rem;
  --fs-900: 2rem;
  --fs-1000: 2.25rem;
  --fs-1100: 4.375rem;

  --fw-500: 500;
  --fw-700: 700;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #f2f2f2;
  --clr-neutral-300: #cccccc;
  --clr-neutral-400: #646d76;
  --clr-neutral-500: #666666;
  --clr-neutral-600: #333333;
  --clr-neutral-700: #383e4c;
  --clr-neutral-800: #262628;
  --clr-neutral-900: #000000;

  --border-radius: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-base);
  text-align: center;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/********************                       Header Start                           ******************/

header {
  min-height: 75vh;
  display: grid;
  align-items: center;
  background-image: url("/images/bg-1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-neutral-100);
}

nav {
  position: fixed;
}

.nav {
  background-color: var(--clr-neutral-700);
  font-size: var(--fs-700);
  display: grid;
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  /* wont center on 375px or less? */
}

.links-display {
  width: 100%;
  border-color: var(--clr-neutral-400);
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  padding: 0.625rem 1.56rem;
}

.links-hide {
  display: none;
}

.links-display:hover {
  background-color: var(--clr-neutral-400);
}

.links-display:visited {
  text-decoration: none;
  color: var(--clr-neutral-100);
}

.nav-button--display {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: -3.5rem;
  right: 0;
  background: var(--clr-neutral-700);
  border-radius: var(--border-radius);
  border: 0;
}

.nav-button--hide {
  display: none;
}

.line {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-100);
  height: 0.2rem;
  margin: 0.4rem;
  border-radius: var(--border-radius);
}

.title h1 {
  font-size: var(--fs-1100);
  text-transform: uppercase;
}

.title h3 {
  font-size: var(--fs-800);
}

@media screen and (min-width: 775px) {
  .nav {
    font-size: var(--fs-500);
    grid-template-columns: repeat(5, 8rem);
    place-items: center;
    place-content: center;
    gap: 1rem;
    min-height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    transform: scaleX(100%);
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .nav {
    font-size: var(--fs-700);
    grid-template-columns: repeat(5, 10rem);
  }
}

/********************                       Header End                            ******************/

/********************                Containers And Cards Button Start            ******************/
.button-top {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  bottom: 2.5rem;
  right: 1rem;
  background: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-700);
  font-size: var(--fs-700);
  border-radius: 50%;
  border: 0;
}

.button-top--hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  padding: 0 1rem;
  gap: 2rem 0;
}

.container--three {
  margin-top: 3.75rem;
  grid-template-columns: 22.5rem;
}

.container--two {
  margin: 3.75rem 0;
  grid-template-columns: minmax(25rem, 34rem);
}

.container--four {
  margin-top: 3.75rem;
  grid-template-columns: 16.25rem;
}

.container--one {
  margin: 1.75rem auto 3.75rem auto;
}

.card {
  background-color: var(--clr-neutral-200);
  display: grid;
  gap: 0.5rem;
}

.card-light {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-800);
}

.card-dark {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-200);
}

.card h4 {
  font-size: var(--fs-700);
  padding: 1rem;
}

.card p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card--medium {
  text-align: left;
}

.card--large,
.card--small {
  align-content: start;
}

.card--max {
  margin: auto;
  text-align: left;
}

.card--small p {
  text-align: left;
}

.card--small button {
  align-self: center;
}

.card--medium p,
.card--small p {
  padding: 0 1rem 1rem 1rem;
}

.card--large p,
.card--max p {
  padding-bottom: 1rem;
}

.card--max p,
.card--max h4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.button {
  font-size: var(--fs-600);
  padding: 0.5rem 1rem;
  place-self: center;
  text-decoration: none;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: var(--border-radius);
}

.button--left {
  place-self: start;
  margin: 0 0 1.5rem 2rem;
}

.button--accent-one {
  background-color: var(--clr-neutral-300);
}

.button--accent-one-dark {
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-800);
}

.button--accent-one:hover {
  color: var(--clr-neutral-100);
}

.button--accent-two {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
}

.button--accent-two:hover {
  color: var(--clr-neutral-300);
}

@media screen and (min-width: 775px) {
  .container {
    padding: 0 2rem;
    gap: 2rem;
  }

  .container--three {
    grid-template-columns: repeat(3, 1fr);
  }

  .container--two {
    grid-template-columns: repeat(2, 1fr);
  }

  .container--four {
    grid-template-columns: repeat(2, 16.25rem);
    gap: 2rem 6rem;
  }

  .card p {
    text-align: left;
  }
}

@media screen and (min-width: 990px) {
  .container--four {
    grid-template-columns: repeat(4, 12.75rem);
    gap: 2rem;
  }

  .button--right {
    place-self: center end;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 71.25rem;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .container--four {
    grid-template-columns: repeat(4, 16.25rem);
    gap: 2rem;
  }
}

/********************                Containers And Cards Button End            ******************/

/********************                       Services Start                      ******************/

.title h2 {
  font-size: var(--fs-1000);
  margin: 1.25rem 0;
}

.services-background {
  background-image: url("/images/bg-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  color: var(--clr-neutral-100);
  display: grid;
  place-content: center;
}

.services-container {
  max-width: 45rem;
  font-weight: var(--fw-700);
  padding: 1rem;
}

/********************                       Services End                        ******************/

/********************                       Contact Start                       ******************/

.contact-background {
  background-image: url("/images/bg-3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  display: grid;
}

.contact-container {
  margin: auto;
  color: var(--clr-neutral-100);
  padding: 1rem;
  max-width: 45rem;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
}

/* h2 styles from .title h2 in services section */

.contact-p {
  color: var(--clr-neutral-900);
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  background-color: hsl(0, 0%, 90%, 0.5);
  padding: 2rem;
  border-radius: var(--border-radius);
}

.form-container {
  margin-top: 0.5rem;
  display: grid;
}

.form-container--three {
  align-self: center;
  grid-template-rows: repeat(3, 2rem);
  gap: 0.75rem;
}

.form-container--two {
  grid-template-rows: 8rem auto;
}

.form-container--two .button--left {
  margin: 1rem 0;
}

.feild {
  color: var(--clr-neutral-900);
  font-size: var(--fs-600);
  font-weight: var(--fw-700);
  padding-left: 0.75rem;
  background-color: hsl(0, 0%, 90%, 0.5);
  border-radius: var(--border-radius);
  border: none;
  font-size: var(--fs-600);
}

@media screen and (min-width: 775px) {
  .form-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .form-container--three {
    grid-template-columns: 1fr;
    align-self: start;
  }

  .form-container--two {
    grid-template-columns: 1fr;
    gap: 0.25rem 1rem;
  }
}

/********************                       Contact End                         ******************/

/********************                       Footer Start                        ******************/

footer {
  display: grid;
  grid-template-rows: 1fr 1px 1fr;
}

footer h2 {
  font-size: var(--fs-900);
  padding-top: 1.5rem;
  font-weight: 300;
}

footer p {
  font-size: var(--fs-400);
  padding: 1.5rem;
}

.copyright {
  font-size: var(--fs-300);
}

/********************                       Footer End                          ******************/
