:root {
    --ff-base:'Open Sans', Helvetics, Arial;

    --fs-300: 0.75rem;
    --fs-400: 0.875rem;
    --fs-500: 1rem;
    --fs-600: 1.125rem;
    --fs-700: 1.25rem;
    --fs-800: 1.5625rem;
    --fs-900: 2rem;
    --fs-1000: 2.25rem;
    --fs-1100: 4.375rem;

    --fw-500: 500;
    --fw-700: 700;

    --clr-accent-green: #178A27;
    --clr-accent-blue: #1686C1;
    --clr-accent-red: #852406;

    --clr-neutral-100: #ffffff;
    --clr-neutral-200: #F2F2F2;
    --clr-neutral-300: #CCCCCC;
    --clr-neutral-400: #646D76;
    --clr-neutral-500: #666666;
    --clr-neutral-600: #333333;
    --clr-neutral-700: #383E4C;
    --clr-neutral-800: #262628;

    --border-radius: 0.225rem;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-base);
    text-align: center;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/********************                       Header Start                           ******************/

header {
    min-height: 75vh;
    display: grid;
    align-items: center;
    background-image: url("/images/bg-1.jpg");
    background-size: 100vw 75vh;
    color: var(--clr-neutral-100);
}

nav {
    background-color: var(--clr-neutral-700);
    font-size: var(--fs-700);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-content: center;
    place-items: center;
    min-height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    border-color: var(--clr-neutral-400);
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    padding: 0.625rem 1.56rem;
}

nav a:hover {
    background-color: var(--clr-neutral-400);
}

nav a:visited{
    color: var(--clr-neutral-100);
}

.title h1 {
    font-size: var(--fs-1100);
    text-transform: uppercase;
}

.title h3 {
    font-size: var(--fs-800);
}

/********************                       Header End                            ******************/

/********************                Containers And Cards Button Start            ******************/

.container {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    place-content: center;
    grid-template-columns: 1fr;
    padding: 0 1rem;
    gap: 2rem 0;
}

.container--three {
    margin-top: 3.75rem;
}

.container--two {
    margin: 3.75rem 0;
}

.container--four {
    margin-top: 3.75rem;
    width: 16.25rem;
}

.container--one {
    margin: 1.75rem auto 3.75rem auto;
}

.card {
    background-color: var(--clr-neutral-200);
}

.card--medium {
    text-align: left;
}



.card--max {
    margin: auto;
    text-align: left;
}

.card h4 {
    font-size: var(--fs-700);
    padding: 0.8rem;
}

.card p {
    padding: 0.8rem;
}

.card--small h4 {
    text-align: center;
}

.card--large h4 {
    text-align: center;
}

.button {
    border-radius: var(--border-radius);
    font-size: var(--fs-600);
    padding: 0.6rem;
}

.button--green {
    background-color: var(--clr-accent-green);
}

.button--blue {
    background-color: var(--clr-accent-blue);
}

.button--red {
    background-color: var(--clr-accent-red);
}

.button--white {
    background-color: var(--clr-neutral-300);
}

.button--dark {
    background-color: var(--clr-neutral-800);
}


@media screen and (min-width: 775px) {
    .container {
        padding: 0 2rem;
        gap: 2rem;
    }

    .container--three {
        grid-template-columns: repeat(3, 1fr);
    }

    .container--two {
        grid-template-columns: repeat(2, 1fr);
    }

    .container--four {
        grid-template-columns: repeat(2, 16.25rem);
        gap: 2rem 6rem;
    }
}

@media screen and (min-width: 990px) {

    .container--four {
        grid-template-columns: repeat(4, 12.75rem);
        gap: 2rem;
    }
}

@media screen and (min-width: 1200px) {

    .container {
        max-width: 71.25rem;
        padding: 0;
    }

    .container--two {
        margin-left: auto;
        margin-right: auto;
    }

    .container--four {
        grid-template-columns: repeat(4, 16.25rem);
        gap: 2rem;
    }

}


/********************                Containers And Cards Button End            ******************/

/********************                       Services Start                      ******************/


.title h2 {
    font-size: var(--fs-1000);
    margin: 1.25rem 0;
}

.title--services {
    background-image: url("/images/bg-2.jpg");
    height: 316px;
    display: grid;
    place-content: center;
    color: var(--clr-neutral-100);
}


/********************                       Services End                        ******************/

/********************                       Contact Start                       ******************/

.form-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.form-container--three {
    grid-template-rows: repeat(3, 1fr);
}

.title .title--contact{
    display: grid;

}

.title--contact {
    background-image: url("/images/bg-3.jpg");
    height: 598px;
}

/********************                       Contact End                         ******************/

/********************                       Footer Start                        ******************/

/********************                       Footer End                          ******************/










